// Black
0={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},Black

// Red
1={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}},Red

// Green
2={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}},Green

// Yellow
3={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}},Yellow

// Blue
4={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}},Blue

// Magenta
5={{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}},Magenta

// Cyan
6={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}},Cyan

// Gray
7={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}},White

// Dark Gray
8={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}},Bright Black

// Light Red
9={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}},Bright Red

// Light Green
10={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}},Bright Green

// Light Yellow
11={{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}},Bright Yellow

// Light Blue
12={{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}},Bright Blue

// Light Magenta
13={{base06-rgb-r}},{{base06-rgb-g}},{{base06-rgb-b}},Bright Magenta

// Light Cyan
14={{base0F-rgb-r}},{{base0F-rgb-g}},{{base0F-rgb-b}},Bright Cyan

// White
15={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}},Bright White

// Custom 1
16=0,0,0,Custom 1

// Custom 2
17=0,0,0,Custom 2

// Custom 3
18=0,0,0,Custom 3

// Custom 4
19=0,0,0,Custom 4

// Custom 5
20=0,0,0,Custom 5

// Custom 6
21=0,0,0,Custom 6

// Custom 7
22=0,0,0,Custom 7

// Custom 8
23=0,0,0,Custom 8

// Custom 9
24=0,0,0,Custom 9

// Custom 10
25=0,0,0,Custom 10

// Custom 11
26=0,0,0,Custom 11

// Custom 12
27=0,0,0,Custom 12

// Custom 13
28=0,0,0,Custom 13

// Custom 14
29=0,0,0,Custom 14

// Custom 15
30=0,0,0,Custom 15

// Custom 16
31=0,0,0,Custom 16
